<footer>
    <div class="listes">
        <ul>
            <li><a class="lien_basique" href="https://github.com/username-Everam" target="_blank">Armand Simon</a></li>
            <li><a class="lien_basique" href="https://github.com/FruitPassion" target="_blank">Boudin Raphae</a><a class="lien_basique" href="http://xproger.info/projects/OpenLara/" target="_blank">l</a></li>
            <li><a class="lien_basique" href="https://github.com/uNastyy" target="_blank">Bouisso Romain</a></li>
        </ul>
        <ul>
            <li><a class="lien_basique" href="https://github.com/titoutan" target="_blank">Brando Titouan</a></li>
            <li><a class="lien_basique" href="https://github.com/Yeetnus" target="_blank">Croguennoc Yanis</a></li>
            <li><a class="lien_basique" href="https://github.com/adelagnes" target="_blank">Delagnes Antoine</a></li>
            <li><a class="lien_basique" href="https://github.com/gamingdy" target="_blank">Gikapa Christian</a></li>
        </ul>
        <ul>
            <li><a class="lien_basique" href="https://github.com/pavuchochek" target="_blank">Gribanova Sofia</a></li>
            <li><a class="lien_basique" href="https://github.com/unkn0wndfbx" target="_blank">Helbert Titouan</a></li>
            <li><a class="lien_basique" href="https://github.com/Xispho" target="_blank">Herbaut Titouan</a></li>
            <li><a class="lien_basique" href="https://github.com/CaptainBoulbi" target="_blank">Nanaha Hamza</a></li>
        </ul>
        <ul>
            <li><a class="lien_basique" href="https://github.com/Barukzeg" target="_blank">Lamarti Naïl</a></li>
            <li><a class="lien_basique" href="https://github.com/Tigropoil" target="_blank">Longuet Cédric</a></li>
            <li><a class="lien_basique" href="https://github.com/alex-pelle" target="_blank">Pelletier Alex</a></li>
            <li><a class="lien_basique" href="https://github.com/Cemailla" target="_blank">Tognini Célia</a></li>
        </ul>
    </div>

    <a target="_blank"
        href="https://filesender.renater.fr/download.php?token=48d36f8b-dbf1-4eee-bdee-e1a1c311b5f8&files_ids=32239779">
        <button>Lien vers sujet de la nuit de l'info</button>
    </a>

    <a href="{{ url_for('communs.sources') }}">
        <button>
            Sources
        </button>
    </a>
</footer>