<footer>
    <div class="listes">
        <ul>
            <li>Armand Simon</li>
            <li>Boudin Raphae<a class="easter_egg" href="http://xproger.info/projects/OpenLara/" target="_blank">l</a></li>
            <li>Bouisso Romain</li>
            <li>Brando Titouan</li>
            <li>Croguennoc Yanis</li>
            <li>Delagnes Antoine</li>
        </ul>
        <ul>
            <li>Gribanova Sofia</li>
            <li>Helbert Titouan</li>
            <li>Herbaut Titouan</li>
            <li>Lamarti Naïl</li>
            <li>Longuet Cédric</li>
            <li>Pelletier Alex</li>
            <li>Tognini Célia</li>
        </ul>
    </div>

    <a target="_blank"
        href="https://filesender.renater.fr/download.php?token=48d36f8b-dbf1-4eee-bdee-e1a1c311b5f8&files_ids=32239779">
        <button>Lien vers sujet de la nuit de l'info</button>
    </a>

    <a href="{{ url_for('communs.sources') }}">
        <button>
            Sources
        </button>
    </a>
</footer>