<header>
    <a href="{{ url_for('communs.index') }}">
        <img src="{{ url_for('static', filename='image/logo_limit_breker.png') }}" alt="Logo Limit Beker" class="logo">
    </a>
    <img src="{{ url_for('static', filename='image/logo_nuit_info.png') }}" alt="Logo Nuit Info" class="logo_nuit_info">
    <hr>
    <a href="{{ url_for('jeux.index') }}">
        <button>
            Jeux
        </button>
    </a>
    <a href="{{ url_for('communs.solutions') }}">
        <button>Solutions
        </button>
    </a>
    <a href="{{ url_for('communs.stats') }}">
        <button>
            Stats
        </button>
    </a>
    <div class="dropdown">
        <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Thèmes
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Normal</a></li>
            <li><a class="dropdown-item" href="#">Dark</a></li>
            <li><a class="dropdown-item" href="#">Fin du monde</a></li>
            <li><a class="dropdown-item" href="#">Woula</a></li>
            <li><a class="dropdown-item" href="#">Popculture</a></li>
        </ul>
    </div>
</header>