<header>
    <img src="{{ url_for('static', filename='image/logo_limit_breker.png') }}" alt="Logo Limit Beker" class="logo">
    <img src="{{ url_for('static', filename='image/logo_nuit_info.png') }}" alt="Logo Nuit Info" class="logo_nuit_info">
    <hr>
    <a href="">
        <button>
            Jeux
        </button>
    </a>
    <a href="">
        <button>Solutions
        </button>
    </a>
    <a href="">
        <button>
            Stats
        </button>
    </a>
    <a href="">
        <button>
            Thèmes
        </button>
    </a>
</header>