<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Accueil{% endblock %} - Limit Breker</title>
    <link {% block favicon %}rel="icon"
          href="{{ url_for('static', filename='image/logo_limit_breker.png') }}"
          {% endblock %}>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>

    <!-- Exemple pour link une police google
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    -->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/color-sets/base.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/base.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Balise utilisée link les feuilles css -->
    {% block stylesheets %}{% endblock %}

    <!-- Balise utilisée link les scripts js -->
    {% block javascripts %}{% endblock %}

    <!-- Balise utilisée d'eventuelle modifications supplémentaires dans le head -->
    {% block headSuppl %}{% endblock %}
</head>

<body>
<!-- Inclusion de la barre de navigation -->
{% include "partials/nav.html" %}
<div id="master">
    {% block body %}{% endblock %}
</div>

<!-- Inclusion de la barre de navigation -->
{% include "partials/footer.html" %}

</body>

{% block javascripts2 %}{% endblock %}

</html>