<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %}{% endblock %} - My Webpage</title>
    
  </head>
  <body>
    <header>
      <nav>
        <div>
          <a href="games.html">Jouer</a>
        </div>
        <div>
          <a href="index.html">Infos</a>
        </div>
        <div>
          <a href="temoignage.html">Témoignages</a>
        </div>
        <div>
          <a href="contact.html">Nous contacter</a>
        </div>
        <div>
          <a href="login.html">Se connecter/S'inscrire</a>
        </div>

      </nav>
    </header>
    <div id="content">{% block content %}{% endblock %}</div>
    
    <footer>
      	<div class="footerdiv">
			<table>
       			 <tr>
         			 <td>Gagneux Max</td>
         			 <td>Gikapa Christian</td>
         			 <td>Bouissou Romain</td>
          			 <td>Armand Simon</td>
       			 </tr>
       			 <tr>
          			 <td>Gribanova Sofia</td>
          			 <td>Longuet Cédric</td>
         			 <td></td>
         			 <td></td>
      			  </tr>
			</table>
		</div>
    </footer>
    
  </body>
</html>