<!doctype html>
<html>
  <head>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %}{% endblock %} - My Webpage</title>
    
  </head>
  <body>
    <header>
      <nav>
        <div>
          <a href="{{ url_for('games') }}">Jouer</a>
        </div>
        <div class="header_submenu">
          <button class="header_submenu-btn"><a href="info_folder/info.html">Infos</a></button>
          <div class="header_submenu-content">
            <a href="info/contraception.html">La contraception</a>
            <a href="info/ist.html">Les IST</a>
            <a href="info/prejuge.html">Les préjugés</a>
            <a href="info/temoignages.html">Des témoignages</a>
            <a href="info/presentation_sis.html">SIS Association</a>
          </div>
        </div>
        <div>
          <a href="{{ url_for('contact') }}">Nous contacter</a>
        </div>
        <div>
          <a href="{{ url_for('login') }}">Se connecter/S'inscrire</a>
        </div>

      </nav>
    </header>
    <div id="content">{% block content %}{% endblock %}</div>
    
    <footer>
			
			<div class="leftp">
				<h3>Liens</h3>
				<div>
					<a href="https://twitter.com/UT1Capitole" target="blank_"><img src="https://img.icons8.com/neon/50/null/experimental-twitter-neon.png"/></a>
					<a href="https://www.instagram.com/utcapitole/" target="blank_"><img src="https://img.icons8.com/neon/50/null/experimental-instagram-new-neon.png"/></a>
					<a href=""></a>
				</div>
				<div>
					<a href=""><img src="" alt=""></a>
					<a href=""><img src="" alt=""></a>
					<a href=""><img src="" alt=""></a>
				</div>
			</div>
			<div>
				<h2 class="lefta">À propos</h2>
				<p>GAGNEUX Max / GIKAPA Christian</p>
				<p>ARMAND Simon  / MONKONKALA Brice</p>
				<p>BOUISSOU Romain / BOUDIN Raphael</p>
				<p>LONGUET Cédric / GRIBANOVA Sofia</p>
			</div>
			<div class="leftr">
				<h3>Nous contacter</h3>
				<p> 2 Rue du Doyen-Gabriel-Marty</p>
				<p>31042 Toulouse Cedex 9</p>
				<p>Tél : +33(0)5 61 63 35 00</p>
				<p>Fax : +33(0)5 61 63 37 98</p>
			</div>
    </footer>
    
  </body>
</html>     