<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %}{% endblock %} - My Webpage</title>
    
  </head>
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
    
    <footer>
			
			<div>
				<h3>Liens</h3>
				
			</div>
			<div>
				<h3>à propos</h3>
				<p>GAGNEUX Max / GIKAPA Christian</p>
				<p>ARMAND Simon / MONKONKALA Brice</p>
				<p>BOUISSOU Romain / BOUDIN Raphael</p>
				<p>LONGUET Cédric / GRIBANOVA Sofia</p>
			</div>
			<div>
				<h3>Nous contacter</h3>

			</div>
    </footer>
    
  </body>
</html>