{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
  <h1>HIV QUEST</h1>
 

  <div class = "box_accueil">
    <button class = "button1">
      <a href=""><span>SE CONNECTER POUR JOUER</span></a>
    </button>
    <p class="le_OU_en_plein_milieu_de_la_page_d_accueil_qui_est_un_peu_relou_parce_qu_il_faut_une_classe_rien_que_pour_lui">
      OU
    </p>
    <button class = "button2">
      <a href=""><span>VOIR LES INFORMATIONS</span></a>
    </button>
  </div>

{% endblock %}
{% block footer %}
{% endblock %}