<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Register</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		
	</head>
	<body>
		<div class="register">
			<h1>Register</h1>
			<div class="links">
				<a href="{{ url_for('login') }}">Login</a>
				<a href="{{ url_for('register') }}" class="active">Register</a>
			</div>
			<form action="{{ url_for('register') }}" method="post" autocomplete="off">
				<label for="username">
					<img src="https://img.icons8.com/ios-glyphs/30/null/user--v1.png"/>
				</label>
				<input type="text" name="username" placeholder="Username" id="username"required>
				
				<label for="password">
					<img src="https://img.icons8.com/material-rounded/30/null/lock--v1.png"/>
				</label>
				<input type="password" name="password" placeholder="Password" id="password" required>
				
				<label for="age">
					<img src="https://img.icons8.com/material-rounded/30/null/birthday-cake.png"/>
				</label>
				<input type="number" name="age" placeholder="Enter your age" id="age">

				<div class="msg">{{ msg }}</div>
				
				<input type="submit" value="Register">
			</form>
		</div>
	</body>
</html>