{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
  <h1>La contracéption</h1>
  <h2>
   Voici quelques contracéptions:
  </h2>
  <div class="container_info">
    <h3>Le stérilet hormonal</h3>
    <img >
    <p class="description_info">blabla</p>
  </div>
  <div class="container_info">
    <h3>La pillule</h3>
    <img >
    <p class="description_info">blabla</p>
  </div>
  <div class="container_info">
    <h3>Le preservatif</h3>
    <img >
    <p class="description_info">blabla</p>
  </div>
  <div class="container_info">
    <h3>Le patcht</h3>
    <img >
    <p class="description_info">blabla</p>
  </div>
{% endblock %}