{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
  <h1>La contracéption</h1>
  <h2 class="pd2">
   Voici quelques contracéptions:
  </h2>

  <div class = "flexbox box_prejuge">
    <div>
      <h3>Le stérilet</h3>
      <p class = "texte_prejuge">
        Aussi appelé SIU hormonal, cette petite tige de plastique souple diffuse un progestatif à dose régulière dans l’utérus. Après une première visite pour vérifier l’absence de contre-indication, le gynécologue ou le médecin généraliste revoit la patiente durant ses premiers jours de règles afin de poser le stérilet. Ce geste peut être douloureux, mais il peut aussi être soulagé par une anesthésie locale.

        Le stérilet hormonal protège efficacement contre une grossesse non désirée pendant 3 à 5 ans, selon le modèle. C’est d’ailleurs son avantage le plus important : une fois placé, il ne faut plus y penser ! Il peut aussi être placé pour une période plus courte de 6 mois à 1 an si la patiente le désire.
      </p>
    </div>
    <img src = "static/img/contraception/sterilet.webp" alt = "sterilet" class = "image_prejuge2">
  </div>
  <div class = "flexbox box_prejuge">
    <div>
      <h3>Le patch contraceptif</h3>
      <p class = "texte_prejuge">
        Ce contraceptif s’utilise à raison de 1 patch par semaine que l’on colle sur la peau au niveau du ventre, du bas du dos ou du bras par exemple, mais jamais sur les seins. Après 3 semaines, on observe une semaine d’arrêt, sans patch, durant laquelle surviennent les règles.
        Le patch contraceptif délivre 2 hormones, un œstrogène et un progestatif. Il doit être prescrit par un médecin, uniquement aux femmes qui ne présentent pas de contre-indications. Certains médicaments peuvent diminuer son efficacité. Entre autres, le millepertuis (en vente libre), certains antiépileptiques, certains antituberculeux et les antirétroviraux . Contrairement à la pilule combinée, on ne se préoccupe du patch qu’une fois par semaine tout en bénéficiant de la même fiabilité.

En cas d’oubli, le délai de secours eddst plus grand que pour la pilule : 24 heures si le patch s’est décollé, 24 à 48 heures s’il n’a pas été remplacé à temps (contre 12 heures pour les pilules combinées). 
Enfin, comme les hormones sont absorbées par la peau et pas par le système digestif,
il n’y a aucun risque de non-absorption si l’on souffre de vomissements ou de diarrhée.
      </p>
    </div>
    <img src = "static/img/contraception/patch.webp" alt = "patch contraceptif" class = "image_prejuge2">
  </div>
  <div class = "flexbox box_prejuge">
    <div>
      <h3>La pilule du lendemain</h3>
      <p class = "texte_prejuge">
        Cette pilule progestative s’utilise en cas d’urgence, après un rapport non protégé, un oubli ou un accident de contraception. Elle bloque l’ovulation et rend la paroi utérine moins accueillante pour la nidation.

La pilule du lendemain n’est pas aussi efficace que les autres moyens de contraception hormonaux. Elle exerce un effet protecteur pour le dernier rapport, mais pas pour les rapports à venir.

Enfin, il faut la prendre le plus tôt possible après le rapport sexuel avec un maximum de 72 heures, car son efficacité diminue très vite avec le temps. Elle est généralement disponible sans prescription médicale en pharmacie et dans les centres de planning familial.
      </p>
    </div>
    <img src = "static/img/contraception/pilule.webp" alt = "pilule" class = "image_prejuge2">
  </div>
  <div class = "flexbox box_prejuge">
    <div>
      <h3>Le préservatif masculin</h3>
      <p class = "texte_prejuge">
        Le préservatif, s’il est utilisé correctement, protège à la fois des grossesses non désirées et des Infections Sexuellement Transmissibles (IST). Ce tube fermé d’un côté, fait de latex ou de polyuréthane, s’enfile sur le pénis en érection, avant la pénétration, et se retire juste après l’éjaculation.

Il faut veiller à ce qu’il soit en parfait état avant de le mettre (date de validité, étanchéité, label de qualité) et changer de préservatif lors de chaque rapport. Le préservatif s’achète sans ordonnance, en pharmacie et dans de nombreux endroits comme les grandes surfaces. Il est très bon marché.
      </p>
    </div>
    <img src = "static/img/contraception/capote.webp" alt = "préservatif masculin" class = "image_prejuge2">
  </div>
  <div class = "flexbox box_prejuge">
    <div>
      <h3>Le préservatif féminin</h3>
      <p class = "texte_prejuge">
        Moins connu et employé que son équivalent masculin, le préservatif féminin se présente sous la forme d’un tube en latex ou en polyuréthane, fermé à une extrémité. Un anneau interne et un anneau externe permettent de le maintenir en place, dans le vagin et sur les organes génitaux externes.
        Il peut d’ailleurs être placé plusieurs heures avant le rapport sexuel si nécessaire. Il doit être retiré et jeté après celui-ci, mais pas nécessairement juste après l’éjaculation. Le préservatif féminin se trouve en pharmacie sans ordonnance. Il coûte plus cher que le préservatif masculin et rencontre également moins de succès.
      </p>
    </div>
    <img src = "static/img/contraception/capotefemme2.webp" alt = "présarvatif féminin" class = "image_prejuge2">
  </div>
  <p style="text-align:center">Si vous voulez en savoir plus voici la <a class="textdeco" href="https://www.gynandco.fr/les-differents-moyens-de-contraception/#:~:text=Pilule%2C%20préservatif%2C%20patch%2C%20anneau,les%20différents%20moyens%20de%20contraception." target="blank_">source</a></p>
{% endblock %}