{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
  <h1>Informations </h1>
  <div class = "box_principale">

    <div class = "flexbox box_info">
        <a href=""><img src = "static/img/test.jpg" alt = "" title="Retrouvez ici les différentes contraceptions" class = "image_info_contraception"></a>
    </div>

    <div class = "flexbox box_info">
        <a href=""><img src = "static/img/test.jpg" alt = "" title="Retrouvez ici des explications sur les différentes IST" class = "image_info_ist"></a>
    </div>
    
    <div class = "flexbox box_info">
        <a href=""><img src = "static/img/test.jpg" alt = "" title="Retrouvez ici différents types de préjugés" class = "image_info_prejuge"></a>
    </div>

    <div class = "flexbox box_info">
        <a href=""><img src = "static/img/test.jpg" alt = "" title="Retrouvez ici des témoignages" class = "image_info_temoignages"></a>
    </div>

{% endblock %}