{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
  <h1>Préjugés sur les maladies sexuellement transmissibles</h1>
  <div class = "box_principale">

    <div class = "flexbox box_info">
      <img src = "static/img/test.jpg" alt = "" class = "image_info">
    </div>

    <div class = "flexbox box_info">
      <img src = "static/img/test.jpg" alt = "" class = "image_info">
    </div>
    
    <div class = "flexbox box_info">
      <img src = "static/img/test.jpg" alt = "" class = "image_info">
    </div>

{% endblock %}