{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<h1>Les Infections Sexuellement Transmissibles (IST)</h1>
<div class = "box_principale">

  <div class = "flexbox box_prejuge">
    <img src = "static/img/test.jpg" alt = "" class = "image_prejuge1">
    <div>
      <h3>CHLAMYDIAE</h3>
      <p class = "texte_prejuge">
Parmi les infection sexuellement transmissibles (IST) bactériennes, l’infection à chlamydiae est l’une des plus fréquentes. C’est la grande gagnante parmi les jeunes (16-25 ans). La raison de ce succès ? Elle se transmet facilement, ne donne pas toujours des symptômes, et manque de visibilité…
</p>
<h4>
COMMENT SE TRANSMETTENT-ELLES ?
</h4>
<p>
Tout contact sexuel peut mener à une transmission des chlamydiae : frottements sexe contre sexe, pénétrations, fellations, cunnilingus…
</p>
<h4>
QUELS SONT LES SYMPTÔMES ?
</h4>
<p>
Les chlamydiae ne donnent pas toujours des symptômes ! Elle peut causer des symptômes pendant quelques jours qui s’estompent d’eux-mêmes. Cette infection est souvent silencieuse sur une longue durée avant de présenter des complications :
 Au niveau vaginal : Brûlures urinaires, douleurs dans le bas-ventre, pertes anormales
 Au niveau du pénis : Brûlures/inconfort en urinant, écoulement blanchâtre intermittent
 Au niveau anal : Démangeaisons, fausses envies d’aller à la selle, écoulements
Si le diagnostic est tardif, des complications peuvent survenir (salpingites qui peuvent mener à une stérilité, endométrites, prostatites, épididymites…)      
</p>
    </div>
  </div>

  <div class = "flexbox box_prejuge">
    <div>
      <h3>Hépatite B</h3>
      <h4>C’EST QUOI UNE HÉPATITE ?</h4>
      <p class="texte_prejuge">Une hépatite est une inflammation aiguë ou chronique du foie. Le foie est le « filtre » du corps humain, il sert à éliminer les toxines, mais aussi à répartir des nutriments dans le corps. L’inflammation, lorsqu’elle persiste, peut mener à une dégradation progressive de l’organe, et évoluer en cirrhose ou en cancer.</p>
      <h4>ET L’HÉPATITE B ?</h4>
      <p class="texte_prejuge">L’hépatite B est un virus qui attaque le foie et cause une inflammation. L’hépatite B se divise en deux temps :
        L’hépatite aiguë dure environ six mois à compter de la contamination. Dans 90% des cas, chez l’adulte, l’organisme parvient à combattre le virus et à l’éliminer. Il y a alors une guérison.
        Pour les 10% restants, l’hépatite B devient chronique. A ce jour, aucun traitement ne permet d’en guérir.</p>
      <h4>COMMENT SE TRANSMET-ELLE ?</h4>
      <p class="texte_prejuge">L’hépatite B se transmet essentiellement par rapports sexuels : les risques les plus importants sont les pénétrations sexuelles (vaginales et anales) non protégées. Elle peut également se transmettre par fellation pratiquée ou cunnilingus. Le virus peut être présent dans la salive dans certains cas, mais les transmissions par le baiser sont exceptionnelles.
        Les transmissions non-sexuelles de l’hépatite B sont sensiblement les mêmes que celles du VIH : échange de matériel d’usage de drogue, transmission de la mère à l’enfant au cours de la grossesse, de l’accouchement ou de l’allaitement…</p>
      </p>
      <h4>QUELS SONT LES SYMPTÔMES ?</h4>
      <p class="texte_prejuge">
        L’hépatite B passe souvent sous les radars : elle a très peu de symptômes spécifiques.
        Hépatite B aiguë : Fatigue, perte d’appétit, troubles digestifs, ictère (jaunissement de la peau / du blanc des yeux), urines foncées et selles claires, gêne du côté droit de l’abdomen.
        Hépatite B chronique : Celle-ci évolue en 10 à 40 ans. Elle est massivement asymptomatique, sauf en cas de dégradation importante du foie (fibrose avancée ou cirrhose). Elle peut cependant provoquer fatigue et poussées pseudo-grippales.
      </p>
      <h4>
        COMMENT S’EN PROTÉGER ?
      </h4> 
      <p class="texte_prejuge">
        Il existe un vaccin contre l’hépatite B. Celui-ci peut être administré à tout âge. Parlez-en à votre médecin, qui vérifiera si vous êtes déjà vacciné-e et vous proposera le schéma vaccinal si ce n’est pas le cas.
        Le port du préservatif au cours des rapports sexuels avec les personnes dont vous ne connaissez pas le statut vis-à-vis des IST permet de vous protéger d’une infection par le virus de l’hépatite B.
      </p>
    </div>
    <img src = "static/img/test.jpg" alt = "" class = "image_prejuge2">
  </div>
  <div class = "flexbox box_prejuge">
    <img src = "static/img/test.jpg" alt = "" class = "image_prejuge1">
    <div>
      <h3>Syphilis</h3>
      <p class = "texte_prejuge">
        La syphilis est une infection sexuellement transmissible bactérienne. Apparue au XVe siècle, elle a fait des ravages, causant jusqu’à 5 millions de morts en Europe jusqu’à la découverte d’un traitement efficace en 1943.
      </p>
<h4>
  QUELS SONT LES SYMPTÔMES ?
</h4>
<p class="texte_prejuge">
  Les signaux d’alerte sont :
</p>
<ul>
  <li>L’apparition d’un chancre syphilitique sur le point d’entrée de la bactérie: la vulve, le vagin, le pénis, l’anus, la bouche ou la gorge. Le chancre est une ulcération indolore. Il apparaît en moyenne 20 jours après l’infection et disparaît spontanément 15 jours plus tard. Il peut passer complètement inaperçu selon l’endroit où il apparaît.</li>
  <li>Dans un second temps (6 à 16 semaines après l’infection) des manifestations de la peau peuvent apparaître, notamment des éruptions de tâches rose pâle qui disparaissent spontanément en quelques jours, et peuvent revenir par intermittence.</li>
  <li>Si elle n’est pas soignée au bout de plusieurs années, la syphilis peut causer des atteintes neurologiques, psychiatriques et cardio-vasculaires. Heureusement, c’est devenu rarissime depuis la découverte d’un traitement largement accessible.</li>
</ul>
<h4>
  COMMENT SE TRANSMET LA SYPHILIS ?
</h4>
<p class="texte_prejuge">
  La syphilis se transmet très majoritairement par un contact avec une lésion syphilitique, notamment un chancre, lors d’une pénétration sexuelle vaginale, anale, une fellation reçue ou pratiquée.     
</p>
<h4>
  QUELS SONT LES TRAITEMENTS ?
</h4>
<p class="texte_prejuge">La syphilis étant une bactérie, elle se traite par antibiotiques : en l’occurrence, par l’injection de pénicilline.</p>
    </div>
  </div>
</div>
{% endblock %}