{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
  <h1>Préjugés sur les maladies sexuellement transmissibles</h1>
  <div class = "box_principale">

    <div class = "flexbox box_prejuge">
      <img src = "static/img/prejuges/fellation.webp" alt = "" class = "image_prejuge1">
      <div>
        <h3>Le VIH et les MST se transmettent par voie orale</h3>
        <p class = "texte_prejuge">
          Vrai ! </p>
          <p class="texte_prejuge">
          Une des première chose que vous apprenez, c'est que le sida se transmet par le sang, le sperme et les sécrétions vaginales. Résultat, trop de personnes pensent que faire une fellation ou un cunnilingus sans protection ne présente aucun danger. Mais ce qu'elles oublient, c'est qu'au cours de ces pratiques, les deux partenaires secrètent du liquide susceptible de contenir des maladies et donc de les contaminer.
        </p>
      </div>
    </div>

    <div class = "flexbox box_prejuge">
      <div>
        <h3>La pilule protège des infections sexuellement transmissibles</h3>
        <p class = "texte_prejuge">
          Faux ! </p>
          <p class="texte_prejuge">La pilule contraceptive ne vous protège de rien si ce n'est d'une grossesse non désirée. En aucun cas la pilule peut empêcher la contamination.
          Seul le préservatif peut jouer ce rôle. Il est important de bien comprendre la différence entre contraception et protection.
        </p>
      </div>
      <img src = "static/img/prejuges/pilule.webp" alt = "" class = "image_prejuge2">
    </div>
    
    <div class = "flexbox box_prejuge">
      <img src = "static/img/prejuges/voie-orale.webp" alt = "" class = "image_prejuge1">
      <div>
        <h3>Le sida peut se transmettre en s'embrassant</h3>
        <p class = "texte_prejuge">
          Faux ! </p>
        <p class="texte_prejuge">  Le sida est tellement présent dans la tête des gens, qu'ils en oublient les autres maladies. Alors non, le sida ne se transmet pas par un baiser. En revanche, la mononucléose et l'herpès labial, oui.
        </p>
      </div>
    </div>

    <div class = "flexbox box_prejuge">
      <div>
        <h3>Le sida peut s'attraper en s'asseyant sur les toilettes publiques</h3>
        <p class = "texte_prejuge">
          Faux ! </p>
          <p class="texte_prejuge">Parmi les préjugés autour du sida, il y a celui sur le siège des toilettes publiques. 15% des 15-25 ans pensent que le sida peut s'attraper en s'asseyant sur la cuvette des toilettes, tout simplement. 
        </p>
        <p class = "texte_prejuge">
          Certes, ce n'est pas très hygiénique de poser son popotin derrière celui d'un inconnu, mais en aucun cas vous ne risquez d'avoir le sida. En revanche, vous risquez d'attraper d'autres formes de MST comme une mycose ou une infection urinaire.  
        </p>
      </div>
      <img src = "static/img/prejuges/toilettes.webp" alt = "" class = "image_prejuge2">
    </div>

    <div class = "flexbox box_prejuge">
      <img src = "static/img/test.jpg" alt = "" class = "image_prejuge1">
      <div>
        <h3>Le sida et les MST peuvent se soigner</h3>
        <p class = "texte_prejuge">
          Vrai et faux !</p>
          <p class="texte_prejuge">
            Même si les recherches sur le sida ont avancé considérablement ces dernières années, on ne peut toujours pas guérir du sida. Les nouveaux traitements permettent de vivre plus longtemps et en meilleure santé, mais ils ne parviennent pas à détruire les protéines du virus présentes dans votre corps.  
        </p>
        <p class="texte_prejuge">La majorité des MST peuvent se soigner, mais ce n'est pas une raison pour ne pas se protéger. Une des choses importantes au sein d'un couple ou même d'un rapport occasionnel, c'est de prévenir l'autre partenaire en cas de MST. Cela peut sembler gênant et on ne sait pas toujours comment avouer une MST, mais pour bien se soigner et s'assurer de ne contaminer personne, il faut briser le silence.</p>
      </div>
    </div>

    <div class = "flexbox box_prejuge">
      <div>
        <h3>Le sida ne peut pas s'attraper s'il n'y a pas d'éjaculation</h3>
        <p class = "texte_prejuge">
          Faux ! </p>
          <p class="texte_prejuge">Si vous tombez sur un partenaire qui refuse de mettre un préservatif sous prétexte que sans éjaculation vous ne risquez rien, prenez vos jambes à votre cou. Même sans éjaculation, vous êtes exposée à un risque de contamination.</p>
        <p class = "texte_prejuge">
          Au même titre que lors d'un rapport oral, il y a toujours des sécrétions vaginales ou la présence de liquide séminal. Dans les deux cas, si l'un de vous est infecté, il risque de contaminer l'autre.

Si vraiment il insiste, dites-lui que pas de préservatif = pas de sexe ! Que vous soyez hétéro, homo, bi... Sortez couvert !</p>
      </div>
      <img src = "static/img/prejuges/toilettes.webp" alt = "" class = "image_prejuge2">
    </div>

    <div class = "flexbox box_prejuge">
      <img src = "static/img/test.jpg" alt = "" class = "image_prejuge1">
      <div> 
        <h3>Les IST et MST touchent surtout les homosexuels</h3>
        <p class = "texte_prejuge">
          « Le sida concerne tout le monde, toutes les générations, les hétérosexuels, les homosexuels, les hommes, les femmes. Nous avons la chance de vivre dans un pays où il est facile de na pas contracter le sida, il suffit d'utiliser le seul moyen efficace : le préservatif. Il en existe une multitude et il faut être attentif à trois choses : choisir la bonne taille, s'assurer que le préservatif a été testé électroniquement et ne pas négliger le lubrifiant qui réduit les risques de déchirures et améliore le confort », rappelle Kamal Yahiaoui, président du laboratoire Terpan.</p>
      </div>
    </div>
  </div>
  <a href="https://preventionsida.org/fr/ressources/lord-of-condoms-en-version-plateau-de-jeu/" target="_blank" class="invisible"><button class="invisible"> </button></a>
{% endblock %}