{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
  <h1>Préjugés sur les maladies sexuellement transmissibles</h1>
  <div class = "box_principale">

    <div class = "flexbox box_prejuge">
      <img src = "static/img/test.jpg" alt = "" class = "image_prejuge1">
      <div>
        <h3>Le VIH et les MST se transmettent par voie orale</h3>
        <p class = "texte_prejuge">
          Une des première chose que vous apprenez, c'est que le sida se transmet par le sang, le sperme et les sécrétions vaginales. Résultat, trop de personnes pensent que faire une fellation ou un cunnilingus sans protection ne présente aucun danger. Mais ce qu'elles oublient, c'est qu'au cours de ces pratiques, les deux partenaires secrètent du liquide susceptible de contenir des maladies et donc de les contaminer.
        </p>
      </div>
    </div>

    <div class = "flexbox box_prejuge">
      <div>
        <h3>Lorem Ipsum</h3>
        <p class = "texte_prejuge">
          Lorem ipsum dolor sit amet. Ut unde unde ut consequatur repellendus ut iure dolor quo quas laborum. Ea dolor facilis et voluptates impedit et assumenda dolore sed dolore possimus At dolor numquam et porro aliquid aut temporibus quaerat. Est expedita voluptatem ab maxime impedit 33 neque praesentium aut expedita ullam. Et incidunt blanditiis et voluptatem illo est temporibus autem! Aut suscipit sequi a illum quisquam et animi dolor qui ipsa unde eum itaque facilis qui error modi id accusamus labore. Ea saepe quaerat et fugit aspernatur et veniam officia ex ipsam unde non nulla obcaecati sit omnis magnam! Et reiciendis iste hic quia illo et nesciunt totam ex galisum quae ea quae aliquam?
        </p>
      </div>
      <img src = "static/img/test.jpg" alt = "" class = "image_prejuge2">
    </div>
    
  </div>
{% endblock %}