{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
  <h1>Préjugés sur les maladies sexuellement transmissibles</h1>
  <div>
    <div class = "flexbox box_prejuge">
      <img src = "" alt = "" class = "image_prejuge">
      <p>
        Lorem ipsum dolor sit amet. Id doloribus provident non rerum natus a rerum nostrum? Est error natus ea expedita tenetur sit laudantium voluptatum in sunt error? A odio natus aut molestiae nihil aut quae voluptatum eum eveniet enim et quas quod ab voluptas exercitationem. Est error suscipit ut expedita facilis ut quae quia ut dolorem optio ut voluptatem sunt sit nemo dolore et nobis porro.
      </p>
    </div>
    <div class = "flexbox box_prejuge">
      <img src = "" alt = "" class = "image_prejuge">
      <p>
        Lorem ipsum dolor sit amet. Id doloribus provident non rerum natus a rerum nostrum? Est error natus ea expedita tenetur sit laudantium voluptatum in sunt error? A odio natus aut molestiae nihil aut quae voluptatum eum eveniet enim et quas quod ab voluptas exercitationem. Est error suscipit ut expedita facilis ut quae quia ut dolorem optio ut voluptatem sunt sit nemo dolore et nobis porro.
      </p>
    </div>
    <div class = "flexbox box_prejuge">
      <img src = "" alt = "" class = "image_prejuge">
      <p>
        Lorem ipsum dolor sit amet. Id doloribus provident non rerum natus a rerum nostrum? Est error natus ea expedita tenetur sit laudantium voluptatum in sunt error? A odio natus aut molestiae nihil aut quae voluptatum eum eveniet enim et quas quod ab voluptas exercitationem. Est error suscipit ut expedita facilis ut quae quia ut dolorem optio ut voluptatem sunt sit nemo dolore et nobis porro.
      </p>
    </div>
    <div class = "flexbox box_prejuge">
      <img src = "" alt = "" class = "image_prejuge">
      <p>
        Lorem ipsum dolor sit amet. Id doloribus provident non rerum natus a rerum nostrum? Est error natus ea expedita tenetur sit laudantium voluptatum in sunt error? A odio natus aut molestiae nihil aut quae voluptatum eum eveniet enim et quas quod ab voluptas exercitationem. Est error suscipit ut expedita facilis ut quae quia ut dolorem optio ut voluptatem sunt sit nemo dolore et nobis porro.
      </p>
    </div>
  </div>
{% endblock %}