{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
  <h1>SIS Association</h1>
  <div class="flexbox">
    <div>
        <h4>PRÉSENTATION DE L’ASSOCIATION</h4>
        <p>Sida Info Service a été créée en 1990 au plus
            fort de l’épidémie de SIDA. Aujourd’hui, nous
            cumulons plus de 30 ans d'expérience dans
            les domaines de la lutte contre le VIH, les
            IST, les hépatites, mais également de la
            santé sexuelle et de la lutte contre
            l’homophobie, la transphobie et la
            sérophobie (discriminations à l’encontre des
            personnes vivant avec le VIH).
            Rebaptisée “SIS Association” en 2011, la
            structure a su évoluer avec son temps. Elle a
            participé à la promotion du dépistage et a
            accompagné tous les publics, notamment
            les plus vulnérables face à l’épidémie :
            homosexuels, migrant.e.s, jeunes,
            usager.e.s de drogues. Elle a aussi répondu à
            l’arrivée des co infections avec les hépatites
            et autres IST.
            Depuis sa fondation, SIS Association s’est
            inscrite dans la promotion de la santé
            sexuelle parce que convaincue que la vie
            sexuelle de chaque personne est un espace
            intime et singulier et qu’avoir accès à un
            espace de parole où s’exprimer librement et
            sans jugement permet de s’épanouir.
            Afin de favoriser l’accès à une information
            pertinente et adaptée sur la santé sexuelle,
            nous avons lancé, en 2020, un dispositif d’
            écoute baptisé Sexualités Info Santé. Cet
            espace d’information et d’écoute est
            également un moyen de prévention en
            matière de santé sexuelle avec une
            approche moins médicale et qui n’est pas
            directement liée au VIH, qui a parfois
            tendance à faire trop peur.
            </p>
    </div>
    <div>
        <h4>SIS ASSOCIATION : NOS MISSIONS</h4>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

  </div>
{% endblock %}