{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
  <h1>SIS Association</h1>
  <div class="flexbox">
    <div class = "vert">
        <h4>PRÉSENTATION DE L’ASSOCIATION</h4>
        <p>
            Sida Info Service a été créée en 1990 au plus
            fort de l’épidémie de SIDA. Aujourd’hui, nous
            cumulons plus de 30 ans d'expérience dans
            les domaines de la lutte contre le VIH, les
            IST, les hépatites, mais également de la
            santé sexuelle et de la lutte contre
            l’homophobie, la transphobie et la
            sérophobie (discriminations à l’encontre des
            personnes vivant avec le VIH).
        </p>
        <p>
            Rebaptisée “SIS Association” en 2011, la
            structure a su évoluer avec son temps. Elle a
            participé à la promotion du dépistage et a
            accompagné tous les publics, notamment
            les plus vulnérables face à l’épidémie :
            homosexuels, migrant.e.s, jeunes,
            usager.e.s de drogues. Elle a aussi répondu à
            l’arrivée des co infections avec les hépatites
            et autres IST.
        </p>
        <p>
            Depuis sa fondation, SIS Association s’est
            inscrite dans la promotion de la santé
            sexuelle parce que convaincue que la vie
            sexuelle de chaque personne est un espace
            intime et singulier et qu’avoir accès à un
            espace de parole où s’exprimer librement et
            sans jugement permet de s’épanouir.
        </p>
        <p>
            Afin de favoriser l’accès à une information
            pertinente et adaptée sur la santé sexuelle,
            nous avons lancé, en 2020, un dispositif d’
            écoute baptisé Sexualités Info Santé. Cet
            espace d’information et d’écoute est
            également un moyen de prévention en
            matière de santé sexuelle avec une
            approche moins médicale et qui n’est pas
            directement liée au VIH, qui a parfois
            tendance à faire trop peur.
        </p>
        <img src = "" alt = "Sida Info Service.org">
    </div>
    <div>
        <h4>SIS ASSOCIATION : NOS MISSIONS</h4>
        <div class = "page_presentation bleu">
            <b>Écouter :</b> Chaque personne est accueillie avec respect,
            bienveillance et sans jugement. L’anonymat, la confidentialité et
            la disponibilité des écoutant.e.s permettent à tous et toutes de
            pouvoir s’exprimer librement, d’y voir plus clair et parfois de
            prendre une décision.
        </div>
        <div class = "page_presentation rose">
            <b>Informer :</b> Pour se protéger, se soigner, connaître ses droits,
            tout le monde doit obtenir facilement et librement les
            informations dont il ou elle a besoin.
        </div>
        <div class = "page_presentation jaune">
            <b>Orienter :</b> Selon les besoins de chacun.e, SIS Association oriente
            vers les structures les plus adaptées. Tout est mis en œuvre
            pour que la prise en charge soit la plus efficace possible au
            travers des réseaux de soins, des actions sociales et des
            associations de proximité.
        </div>
        <div class = "page_presentation bleu">
            <b>Témoigner :</b> Avec trois décennies d’expérience dans la relation
            d’aide à distance, SIS Association est un témoin privilégié de l’
            évolution de l’épidémie de VIH, mais aussi des maladies connexes,
            de la vie intime et de toutes les formes de sexualité des appelants
            et des appelantes. Les écoutant.e.s recueillent les interrogations,
            les peurs et les discriminations telles que les vivent nos
            usager.e.s. Grâce aux entretiens réalisés, l’Observatoire collecte
            des données quantitatives et qualitatives, tout en préservant
            l’anonymat des personnes, informant sur l’état et les besoins des
            populations en matière de santé sexuelle.
        </div>
        <div class = "page_presentation jaune">
            <b>Soutenir :</b> Parfois il est nécessaire de parler de sa souffrance.
            Face aux inquiétudes et à la solitude, les écoutant.e.s de SIS
            Association sont des interlocuteurs et des interlocutrices
            attentifs.
        </div>
        <div class = "page_presentation rose">
            <b>Lutter :</b> Le projet de SIS Association s’appuie sur le respect dû à
            toute personne, à sa dignité et à sa place au sein de la société. À
            ce titre, l’association met tout en œuvre pour lutter contre toutes
            les formes de discriminations et d’exclusions.
        </div>
    </div>

  </div>
{% endblock %}