.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.transparent-box {
    width: 300px;
    background-color: var(--color-black-prim);
    border: 2px solid var(--color-white);
    color: white;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    margin-block: 40px;
    margin-left: 170px;
}

.reponse {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.reponse-box {
    width: 200px;
    height: 80px;
    background-color: var(--color-black2);
    border: 2px solid var(--color-black-prim);
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reponse-box button {
    background: none;
    border: none;
    width: 200px;
    height: 80px;
    color: var(--color-white);
}

.reponse-box:hover {
    background-color: var(--color-black);
}

.reponse-box.selected {
    border: 5px solid #72bb53;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.reponse-box.falseSelected {
    border: 5px solid red;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.reponse-box p {
    margin: 0;
}

#confirmButton {
    background-color: #72bb53;
    border-radius: 10px;
    color: black;
    font-weight: 600;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    justify-content: center;
    display: none;
    margin-top: 20px;
}

.reponse-box.selected #confirmButton {
    display: block;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}