#greta{
    margin-top:5%;
    display:flex;
}
.title_pages{
    text-align: center;
}
#block_greta{
    width:40%;
    height:fit-content;
    border-radius: 50px;
    padding:2%;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.532);
}
/* Ajoutez ces styles pour positionner les boutons en bas à droite */
.boutons {
    bottom: 0;
    right: 0;
    margin: 10px; /* Ajoutez une marge pour un meilleur aspect visuel */
    display: flex; /* Utilisez le modèle flexbox */
    flex-direction: column; /* Disposition verticale des éléments */
    justify-content: space-between /* Alignez les boutons en bas du conteneur */
    align-items: flex-end; 
}

/* Styles pour rendre les boutons réactifs */
.bouton {
    display: flex;
    padding: 12px 36px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.12);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.80);
    backdrop-filter: blur(25px);
    outline: none;
    border: none;
    transition: background .2s;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    /* Ajoutez d'autres styles si nécessaire pour une meilleure apparence */
}
#reponse{
    display:none;
}
/* Ajoutez des styles de média query pour rendre les boutons réactifs */
@media (max-width: 768px) {
    #boutons {
        position: static; /* Changez la position en statique pour les écrans plus petits */
        text-align: right; /* Alignez les boutons à droite */
        margin-top: 10px; /* Ajoutez une marge en haut pour un meilleur aspect visuel */
    }

    .bouton {
        display: block;
        margin-bottom: 5px;
    }
}
