@font-face {
    font-family: 'VT323';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/vt323/v17/pxiKyp0ihIEF2isfFJU.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body{
	margin: 0px;
	padding: 0px;
	height: 100%;
	background-color: #FFF4FD;
}

a{
	text-decoration: none;
	color: black;
}

a:hover{
	color: lightpink;
}

header{
	margin: 0px;
	padding: 0px;
	background-color: #33385E;
}

header nav{
	display: flex;
	padding: 5px;
	padding: 3%;
/*	justify-content: space-around;*/
}

header nav div{
	width: 100%;
	text-align: center;
	margin: auto;
}

header nav div:nth-child(1){
	font-weight: bold;
}

header nav div:nth-child(5){
	border: solid #745190 1px;
	border-radius: 7px;
	padding: 5px;
	background-color: #745190;
}

header nav div a{
	vertical-align: sub;
	font-size: 32px;
	font-family: "VT323";
	color: #EE82EE;
}

.footerdiv{
    background-color: rgb(15, 17, 42);
}

footer{
    background-color: rgb(51, 56, 94);

    color: violet;
    text-shadow: #FFF4FD 1%;
    font-family: 'VT323';
    font-size: 1.1em;
    display : flex;
    justify-content: space-between;
}


.lefta{
    text-align: center;

}

h1 {
    text-align: center;
}

.box_principale {
    align-items: center;
    justify-content: center;
}

.flexbox  {
    display : flex;
    justify-content: center;
}

.box_prejuge {
    width: 80%;
    border: solid 5px violet;
    border-radius: 10px;
    display: inline-flex;
    font-size: 14px;
    transition-property: transform;
    transition-duration: .4s;
    transition-delay: 0s;
    justify-content: center;
    margin : 2% 10%;
}
.box_prejuge:hover{
    transform:scale(1.08);
      
  }

.image_prejuge1 {
    width : 200px;
    height : 160px;
    margin-right : 1%;
    display : block;
}

.image_prejuge2 {
    width : 200px;
    height : 160px;
    margin-left : 1%;
    display : block;
}

.texte_prejuge {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-left : 1%;
}
.leftr{
    padding-right: 3%;
}
.leftp{
    padding-left: 3%;
}

