@font-face {
    font-family: 'VT323';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/vt323/v17/pxiKyp0ihIEF2isfFJU.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body{
	margin: 0px;
	padding: 0px;
	height: 100%;
	background-color: #FFF4FD;
}

a{
	text-decoration: none;
}

header{
	margin: 0px;
	padding: 0px;
	background-color: #33385E;
}

header nav{
	display: flex;
	padding: 0;
/*	padding: 5px;*/
/*	padding: 3%;*/
	overflow: hidden;
/*	justify-content: space-around;*/
}

header nav div{
	width: 100%;
	height: 100px;
/*	text-align: center;*/
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

header nav div a:hover{
	color: lightpink;
}

header nav div:nth-child(1){
	font-weight: bold;
}

header nav div button{
	width: 100%;
/*	height: 10%;*/
	padding: 0%;
	border: solid black 1x;
}

header nav div:nth-child(4){
	border: solid #745190 3px;
	border-radius: 7px;
	padding: 5px;
	background-color: #745190;
}

header nav div:nth-child(4):hover{
	border-color: lightpink;
}

header nav div a, header nav div button{
/*	vertical-align: sub;*/
	font-size: 32px;
	font-family: "VT323";
	color: #EE82EE;
}

.header_submenu{
/*	float: left;*/
}

.header_submenu .header_submenu-btn{
	background-color: inherit;
	border: none;
	outline: none;
	margin: 0px;
	width: 80%;
	height: 125%;
	padding: 0%;
}

.header_submenu-btn:hover, .header_submenu-content:hover{
	background-color: #745190;
}

header nav:hover, .header_submenu:hover .header_submenu{
	color: lightpink;
}

.header_submenu-content{
	display: none;
	background-color: #745190;
	position: absolute;
	top: 18%;
	left: 27.2%;
	width: 17.8%;
	height: 25%;
	z-index: 1;
	padding: 1%;
}

.header_submenu-content a{
	border-top: solid #5F368E 1px;
	border-bottom: solid #5F368E 1px;;
}
/*
.header_submenu-content a{
	float: none;
}*/

.header_submenu-content a:hover{
	display: block;
}

.header_submenu:hover .header_submenu-content, .header_submenu-content:hover{
	display: flex;
	flex-direction: column;
}



/*-----------------------Footer--------------------------*/

footer{
    background-color: rgb(51, 56, 94);

    color: violet;
    font-family: 'VT323';
    font-size: 1.1em;
    display : flex;
    justify-content: space-between;
}


.lefta{
    text-align: center;

}

h1 {
    text-align: center;
}

.box_principale {
    align-items: center;
    justify-content: center;
}

.flexbox  {
    display : flex;
    justify-content: center;
    margin : auto;
}

.box_prejuge {
    width: auto;
    border: solid 1px black;
    display: inline-flex;
    margin: 2%;
    font-size: 14px;
    transition-property: transform;
    transition-duration: .4s;
    transition-delay: 0s;
}

.image_prejuge1 {
    width : 200px;
    height : 160px;
    margin-right : 1%;
    display : block;
}

.image_prejuge2 {
    width : 200px;
    height : 160px;
    margin-left : 1%;
    display : block;
}

.texte_prejuge {
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.leftr{
    padding-right: 3%;
}
.leftp{
    padding-left: 3%;
}