body{
	margin: 0px;
	padding: 0px;
	height: 100%;
}

a{
	text-decoration: none;
	color: black;
}

a:hover{
	color: red;
}

header{
	margin: 0px;
	padding: 0px;
	background-color: lightpink;
}

header nav{
	display: flex;
	padding: 5px;
	padding: 3%;
/*	justify-content: space-around;*/
}

header nav div{
	width: 100%;
	text-align: center;
	margin: auto;
}

header nav div:nth-child(1){
	font-weight: bold;
}

header nav div:nth-child(5){
	border: solid black 1px;
	border-radius: 3px;
	padding: 5px;
	background-color: hotpink;
}

header nav div a{
	vertical-align: sub;
	font-size: 20px;
	font-family: "Verdana";
}

.footerdiv{
    background-color: rgb(15, 17, 42);
}

footer{
    background-color: rgb(51, 56, 94);

    color: white;
    font-family: 'Courier New', Courier, monospace;
    display : flex;
    justify-content: space-between;
}


.leftp{
    text-align: center;
}

h1 {
    text-align: center;
}

.box_principale {
    align-items: center;
    justify-content: center;
}

.flexbox  {
    display : flex;
    justify-content: center;
    margin : auto;
}

.box_prejuge {
    border : solid 0.1em black;
    width : 80%;
    margin-bottom : 3em;
}

.image_prejuge1 {
    width : 200px;
    height : 160px;
    margin-right : 1%;
    display : block;
}

.image_prejuge2 {
    width : 200px;
    height : 160px;
    margin-left : 1%;
    display : block;
}

.texte_prejuge {
    margin-block-start: 0px;
    margin-block-end: 0px;
}
