@font-face {
    font-family: 'VT323';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/vt323/v17/pxiKyp0ihIEF2isfFJU.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvr6Hw5aXo.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

body{
	margin: 0px;
	padding: 0px;
	height: 100%;
	background-color: rgb(54, 71, 105);
    color: white;
    font-family: 'Montserrat';
}

a{
	text-decoration: none;
}

header{
	margin: 0px;
	padding: 0px;
	background-color: #33385E;
	height: 55px;
}

header nav{
	display: flex;
	padding: 0;
/*	padding: 5px;*/
/*	padding: 3%;*/
	overflow: hidden;
/*	justify-content: space-around;*/
}

header nav div{
	width: 100%;
/*	text-align: center;*/
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

header nav div a:hover{
	color: lightpink;
}

header nav div:nth-child(1){
	font-weight: bold;
}

header nav div button{
	width: 100%;
/*	height: 10%;*/
	padding: 0%;
	border: solid black 1x;
}

header nav div:nth-child(4){
	border: solid #745190 3px;
	border-radius: 7px;
	padding: 5px;
	background-color: #745190;
}

header nav div:nth-child(4):hover{
	border-color: lightpink;
}

header nav div a, header nav div button{
/*	vertical-align: sub;*/
	font-size: 32px;
	font-family: "VT323";
	color: #EE82EE;
}

.header_submenu{
/*	float: left;*/border:0px;
}

.header_submenu .header_submenu-btn{
	background-color: inherit;
	border: none;
	outline: none;
	margin: 0px;
	width: 80%;
	height: 55px;
	padding: 0%;
}

.header_submenu-btn:hover, .header_submenu-content:hover{
	background-color: #745190;
}

header nav:hover, .header_submenu:hover .header_submenu{
	color: lightpink;
}

.header_submenu-content{
	display: none;
	background-color: #745190;
	position: absolute;
	top: 55px;
	width: 17.8%;
	z-index: 1;
	padding: 1%;
}

.header_submenu-content a{
	border-top: solid #5F368E 1px;
	border-bottom: solid #5F368E 1px;;
}
/*
.header_submenu-content a{
	float: none;
}*/

.header_submenu-content a:hover{
	display: block;
}

.header_submenu:hover .header_submenu-content, .header_submenu-content:hover{
	display: flex;
	flex-direction: column;
}



/*-----------------------Footer--------------------------*/

footer{
    background-color: rgb(51, 56, 94);

    color: violet;
    text-shadow: #FFF4FD 1%;
    font-family: 'VT323';
    font-size: 1.1em;
    display : flex;
    justify-content: space-between;
}


.lefta{
    text-align: center;

}

h1{
    font-size: 2.5em;
    text-align: center;
}

.box_principale {
    align-items: center;
    justify-content: center;
}

.flexbox  {
    display : flex;
    justify-content: center;
}

.box_prejuge {
    width: 80%;
    border: solid 5px violet;
    border-radius: 10px;
    display: inline-flex;
    font-size: 14px;
    transition-property: transform;
    transition-duration: .4s;
    transition-delay: 0s;
    justify-content: center;
    margin : 2% 10%;
}
.box_prejuge:hover{
    transform:scale(1.08);
      
  }

.image_prejuge1 {
    width : 200px;
    height : 160px;
    margin-right : 1%;
    display : block;
}

.image_prejuge2 {
    width : 200px;
    height : 160px;
    margin-left : 1%;
    display : block;
}

.texte_prejuge {
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-left : 1%;
    padding: 1%;
    font-size:1.8em;
}
.leftr{
    padding-right: 3%;
}
.leftp{
    padding-left: 3%;
}



.button {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #ffffff;
    font-weight: 600;
    font-size: 15px;
    background-color: #3d0000;
    padding: 15px 50px;
    margin: 0 auto;
  }
  .button span {
    position: relative;
    z-index: 1;
    color : #fff;
  }
  .button:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 440%;
    width: 100%;
    background: #b71f1f;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateX(-100%) translateY(-25%) rotate(45deg);
    transform: translateX(-100%) translateY(-25%) rotate(45deg);
  }
  .button:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
  }

  .description {
    margin:2%;
  }

  .le_OU_en_plein_milieu_de_la_page_d_accueil_qui_est_un_peu_relou_parce_qu_il_faut_une_classe_rien_que_pour_lui {
    text-align: center;
  }

  .box_accueil {
    margin:2.1%;
  }

.pd2{
    text-align:center;
    font-size: 1.5em;
    padding: 1%;
}

.page_presentation {
    padding : 20px;
    margin : 10px;
  }

  .vert {
    background-color: rgb(75, 111, 22);
    padding : 50px;
  }

  .bleu {
    background-color: rgb(47, 51, 156);
  }

  .jaune {
    background-color: rgb(234, 255, 47);
    color : #000;
  }

  .rose {
    background-color: rgb(153, 48, 160);
  }

h3{
    font-size: 2em;
    padding-left: 2%;

}

.textdeco{
    color: white;
    text-decoration: underline  solid black    ;
}    
.textdeco:hover{
    color: violet;
}

@media only screen and (min-width:824px){
    footer{
        font-size: 0.8em;
    }
    .texte_prejuge{
        font-size: 0.8em;
    }
}