
#titre {
    margin: auto;
    text-align: center;
}


.flip-card {
    height: 40vh;
    width: 50%;

    margin: auto;

    perspective: 1000px;
}

.contenu {
    margin: 5%;
}

.stats {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.stat_score {
   margin-right:5%;
}

.une_stat {
    width: fit-content;
}

.titre_carte {
    font-size: 25px;
    font-style: bold;
    font-weight: 400;
    line-height: normal;
}

.description_carte {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.boutons {
    width: fit-content;
    margin: auto;
}

.bouton {

    width: 234px;
    height: 70px;
    border-radius: 50px;
    border: 1px solid #000;
}

.bouton_vrai {
    background: rgba(82, 210, 79, 0.50);
}

.bouton_faux {
    background: rgba(181, 19, 19, 0.50);
}

.bouton_question_suivante {
    margin:auto 50% auto 60%;
    display: none;
}

.flip-card-inner {
    background: rgba(217, 217, 217, 0.50);
    border-radius: 50px;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 2%;
    margin: 2%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.rotate-card {
    transform: none;
    transform: rotateY(180deg);
    transition: transform 0.5s;
    -moz-transform: rotateY(180deg);
}

/*
.flip-card:hover .flip-card-inner {
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
}
*/

.flip-card-back {
    color: white;
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}