{% extends "common/base.html" %}
{% block stylesheets  %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/solution.css') }}"">
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/solution.js') }}" defer></script>
{% endblock %}
{% block body %}
<div>
<h1 class="title_pages">Les solutions face au changement climatique</h1>
<div id="greta">
    <div id="greta_img"><img src="{{ url_for('static', filename='image/greta.png') }}"></div>
    <div id="block_greta"><p>Salut là-bas !

        😺 Salut, humains curieux ! <br>C'est Greta, votre chat écolo préféré.<br> 🌍✨ Je suis ravi de miauler avec vous aujourd'hui pour discuter d'un sujet crucial : le changement climatique. 🌱<br>
        
        🌈 On sait que c'est un peu compliqué et parfois un peu effrayant, mais ne vous inquiétez pas, on est là pour vous rendre tout ça un peu plus amusant et compréhensible. <br>🎉
        
        Alors, préparez-vous à plonger dans l'univers des solutions vertes avec moi, Greta, votre guide félin vers un monde plus sain et plus heureux ! 🐾
        
        <br>PS : N'oubliez pas de gratter derrière les oreilles, ça détend, même quand on parle de choses sérieuses. 😸💚 
        </p></div>
</div>

<div class="boutons">
    <input class="bouton" type="button"  onclick="showAnswer('1')" value="Comment pouvons-nous réduire le gaspillage alimentaire à la maison pour lutter contre le changement climatique?" />
    <input class="bouton" type="button"  onclick="showAnswer('2')" value="Comment surmonter l'opposition des riverains aux parcs éoliens de manière créative pour favoriser les énergies renouvelables?"  />
    <input class="bouton" type="button"  onclick="showAnswer('3')" value="Comment encourager la création de parcs photovoltaïques tout en préservant les espaces naturels?" />
    <input class="bouton" type="button"  onclick="showAnswer('4')" value="Comment promouvoir l'efficacité énergétique des bâtiments à grande échelle dans la lutte contre le changement climatique?"  />
</div>
</div>
{% endblock %}