{% extends "common/base.html" %}
{% block title %}Sources
{% endblock %}
{% block body %}
<body>
    <section>
        
    </section>

    <section>
        <h2 id="sources">Sources :</h2>
        <br/>
        <ul id="listeSrc">
            <li><a href="https://data-transitions2050.ademe.fr">Données de l'ADEME</a></li>
            <li><a href="https://www.ipcc.ch/site/assets/uploads/sites/2/2019/06/SR15_Full_Report_Low_Res.pdf">Rapport 6 du GIEC complet (en anglais)</a></li>
            <li><a href="https://www.ipcc.ch/site/assets/uploads/sites/2/2019/09/SR15_Summary_Volume_french.pdf">Rapport 6 du GIEC simplifié</a></li>
            <li><a href="https://reseauactionclimat.org/6e-rapport-du-giec-quelles-solutions-face-au-changement-climatique/">Solution du réseau Action Climat</a></li>
            <li><a href="https://www.statistiques.developpement-durable.gouv.fr">Statistique du développement durable</a></li>
            <li><a href="https://www.hellowatt.fr">HelloWatt</a></li>
            <li><a href="https://www.statistiques.developpement-durable.gouv.fr">Répartition sectorielle des émissions de CO2 dans le monde</a></li>
            <li><a href="https://infos.ademe.fr/">Informations sur le déploiement des énergies renouvelables</a></li>
            <li><a href="https://www.futura-sciences.com">Informations sur les puits de carbones, les tourbières et les forets</a></li>
            <li><a href="https://www.ecologie.gouv.fr/">Informations sur le gaspillage alimentaire </a></li>
            <li><a href="https://www.automobile-propre.com">Informations sur les transports écologiques</a></li>
            <li><a href="https://www.cea.fr/">Informations sur le cycle du carbone</a></li>
            <li><a href="https://agriculture.gouv.fr/">Informations sur les biocarburants </a></li>
        </ul>
    </section>
</body>
</html>

{% endblock %}