{% extends "common/base.html" %}
{% block title %}Stats
{% endblock %}
{% block body %}
<h1 class="title_pages">Page de stats</h1>

<div class="row">
    <section class="gauche">
        <img class="imgtrop" src="../static/image/emission.png"
            alt="Diagramme montrant les émissions de CO2 par secteur">
        <p>Diagramme montrant les émissions de CO2 par secteur</p>
    </section>

    <section class="droite">
        <img class="imgtrop" src="../static/image/transport.png"
            alt="Diagramme montrant les émissions de Gaz à Effet de Serre par mode de transport">
        <p>Diagramme montrant les émissions de Gaz à Effet de Serre par mode de transport</p>
    </section>
</div>

<div class="row">

    <section class="gauche">
        <img src="../static/image/répart.jpeg" alt="Diagramme de la répartition de l'émission de CO2 dans le monde">
        <p>Diagramme de la répartition de l'émission de CO2 dans le monde</p>
    </section>

    <section class="droite">
        <img src="../static/image/energies.png" alt="Diagramme représentant la quantité d'énergie produite par type">
        <p>Diagramme représentant la quantité d'énergie produite par type</p>
    </section>
</div>

<section class="gauche">
    <img src="../static/image/investEnergi.png"
        alt="Diagramme représentant la répartition de l'argent investi par type d'énergie">
    <p>Diagramme représentant la répartition de l'argent investi par type d'énergie</p>
</section>
</br>
</br>
</br>
<h5>Et maintenant quelques nombres :</h5>
</br>
<p class="chiffres">
    <span class="number">18%</span> des espèce risquent de mourir d’ici 2100 si l’on continue comme cela 
</p>
<p class="chiffres">
    <span class="number">3.3</span> à <span class="number">3.6</span> Milliards de personnes sont considérées comme étant dans des contextes hautement vulnérables au changement climatique
</p>
<p class="chiffres">
    Nous atteindrons <span class="number">+3.2°</span> d’ici 2100 si cela continue 
</p>
<p class="chiffres">
    La mer monte de <span class="number">3.7mm/an</span>
</p>
<p class="chiffres">
    D’ici 2100, <span class="number"><bold>8%</span> des terres actuellement cultivable ne le seront plus
</p>
<p class="chiffres">
    <span class="number">10 000</span> Milliards de dollars en infrastructures menacés d’ici 2100
</p>
<p class="chiffres">
    <span class="number">1</span> Milliards de personnes vivant près de la côte menacés d’ici 2050
</p>
    
   
    
    
    
</p>

{% endblock %}