{% extends "common/base.html" %}
{% block title %}Stats
{% endblock %}
{% block body %}
<h1>Des statistiques</h1>
<p>Quelques graphiques et nombres nous rappelant ce que l'on doit faire pour remédier au changement climatique</p>

<section>
    <img src="../static/image/emissions.png" alt="Diagramme montrant les émissions de CO2 par secteur">
    <p>Diagramme montrant les émissions de CO2 par secteur</p>
</section>

<section>
    <img src="../static/image/transport.jpg" alt="Diagramme montrant les émissions de Gaz à Effet de Serre par mode de transport">
    <p>Diagramme montrant les émissions de Gaz à Effet de Serre par mode de transport</p>
</section>

<section>
    <img src="image3.jpg" alt="Description de l'image 3">
    <p>Description de l'image 3</p>
</section>

<section>
    <img src="image3.jpg" alt="Description de l'image 3">
    <p>Description de l'image 3</p>
</section>

<section>
    <img src="image3.jpg" alt="Description de l'image 3">
    <p>Description de l'image 3</p>
</section>

<section>
    <img src="image3.jpg" alt="Description de l'image 3">
    <p>Description de l'image 3</p>
</section>

<section>
    <img src="image3.jpg" alt="Description de l'image 3">
    <p>Description de l'image 3</p>
</section>

{% endblock %}