{% extends "common/base.html" %}
{% block title %}Stats
{% endblock %}
{% block body %}
<h1 class="title_pages">Page de stats</h1>

<div class="row">
    <section class="gauche">
        <img class="imgtrop" src="../static/image/emission.png"
            alt="Diagramme montrant les émissions de CO2 par secteur">
        <p>Diagramme montrant les émissions de CO2 par secteur</p>
    </section>

    <section class="droite">
        <img class="imgtrop" src="../static/image/transport.png"
            alt="Diagramme montrant les émissions de Gaz à Effet de Serre par mode de transport">
        <p>Diagramme montrant les émissions de Gaz à Effet de Serre par mode de transport</p>
    </section>
</div>

<div class="row">

    <section class="gauche">
        <img src="../static/image/répart.jpeg" alt="Diagramme de la répartition de l'émission de CO2 dans le monde">
        <p>Diagramme de la répartition de l'émission de CO2 dans le monde</p>
    </section>

    <section class="droite">
        <img src="../static/image/energies.png" alt="Diagramme représentant la quantité d'énergie produite par type">
        <p>Diagramme représentant la quantité d'énergie produite par type</p>
    </section>
</div>

<section class="gauche">
    <img src="../static/image/investEnergi.png"
        alt="Diagramme représentant la répartition de l'argent investi par type d'énergie">
    <p>Diagramme représentant la répartition de l'argent investi par type d'énergie</p>
</section>

{% endblock %}