{% extends "base.html" %}
{% block title %}Games{% endblock %}


{% block content %}
<div class="user-stats">
	<img src="{{user.pp}}" alt="">
	<p>{{user.username}}</p>
	<div class="user_level">
		<label for="currentlvl">Level {{user.level.lvl}}</label>
		<progress max="{{user.level.bar}}" value="{{user.level.lvl}}"></progress>
	</div>
</div>

<div class="game-list">
	<div class="game">
		<p>Game 1</p>
		<p class="game-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae est ipsa excepturi consectetur dolore sit exercitationem, et tempore explicabo fuga reiciendis fugit delectus necessitatibus cum quibusdam in alias ab quia.
		Amet odio est distinctio ullam praesentium error perferendis non reprehenderit ab modi laudantium dignissimos assumenda, sint, blanditiis minima pariatur sit similique ea repellat nostrum, nesciunt. Voluptatem, amet. Cumque, placeat, libero!
		Officiis perspiciatis omnis, natus enim voluptatem, mollitia temporibus asperiores fugiat aperiam officia aliquam nulla quasi harum! Perferendis, quaerat quisquam architecto laborum rerum maiores voluptatem eius dignissimos. Laudantium delectus numquam adipisci.</p>
	</div>
	<div class="game">
		<p>Game 2</p>
		<p class="game-description">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo numquam rem suscipit fuga pariatur blanditiis facere facilis dolore laborum natus, amet. Nesciunt fuga veritatis et enim natus excepturi sint maxime!
			Quia ea beatae et sint incidunt similique laboriosam blanditiis unde enim dolores cupiditate quis, at ipsam officiis, odit est molestiae ullam architecto esse impedit fugit assumenda quam dolor? Dolorum, ex!
			Repellendus adipisci excepturi deserunt distinctio incidunt autem sint nesciunt mollitia officiis delectus possimus iure optio placeat, suscipit neque deleniti aut tenetur reprehenderit ad molestias accusamus exercitationem doloribus quos. Aliquid, sint.
		</p>
	</div>
	<div class="game">
		<p>Game 3</p>
		<p class="game-description">Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Repudiandae soluta rerum, laudantium dolore temporibus quia, nisi necessitatibus. Laborum, similique? Nemo deserunt ratione suscipit et ea, magni laudantium repellat distinctio quidem.
		Enim mollitia at explicabo possimus repellat ex unde distinctio. Tempora saepe a, natus quidem minus, ratione! Commodi cumque deserunt earum quibusdam laborum odit culpa ad impedit vel, molestias nesciunt expedita?
		Aliquam vel, et odit ea delectus illum quos voluptates maxime suscipit perferendis. Sunt necessitatibus, in placeat impedit modi, quae mollitia earum ipsa. Voluptatibus, est. Nostrum in consectetur doloribus quod aliquid.</p>
	</div>
	<div class="game">
		<p>Game 4</p>
		<p class="game-description">Lorem ipsum, dolor sit, amet consectetur adipisicing elit. Fugit, ex autem consequuntur ut accusantium ullam excepturi distinctio, odio dolor voluptas perferendis consequatur neque quam beatae ipsa sequi corrupti magnam, voluptatibus!
		Assumenda ullam dolorem id soluta fugit officiis consectetur iste commodi esse accusantium, totam earum expedita deleniti voluptatem debitis omnis ea modi vitae quibusdam sunt autem! Atque, recusandae, corporis. Quod, rerum?
		Minus voluptatem, eveniet aliquid provident aut et excepturi aperiam, illum modi eaque non vitae voluptates dolorum omnis, accusamus aspernatur repellendus quibusdam nemo voluptatibus magnam. Harum officiis ad nobis ex tempore!</p>
	</div>
</div>
{% endblock %}
