{% extends "base.html" %}
{% block title %}Games{% endblock %}


{% block content %}
<div class="user-stats">
	<img src="{{user.pp}}" alt="">
	<p>{{user.username}}</p>
	<div class="user_level">
		<label for="currentlvl">Level {{user.level.lvl}}</label>
		<progress max="{{user.level.bar}}" value="{{user.level.lvl}}"></progress>
	</div>
</div>
<div class="game-list">
	<a href="../cartes"><div class="game1">
		<p><b>Mémo-cartes</b></p>
		<p class="game-description">aha</p>
	</div></a>
	<a href="../pendu"><div class="game2">
		<p><b>Pendu</b></p>
		<p class="game-description">aha</p>
	</div></a>
	<a href="../juste_prix"><div class="game3">
		<p></p>
		<p class="game-description">aha</p>
	</div></a>
</div>
{% endblock %}
