{% extends "common/base.html" %}
{% block title %}Jeux
{% endblock %}
{% block body %}
<h1 class="title_pages">Choisissez votre jeu</h1>
<div class="center">

    <div class="flip">
        <div class="front"
            style="background-image: url(../../static/image/image_survival.png)">
            <h1 class="text-shadow">Earth Survivor</hi>
        </div>
        <div class="back">
            <a href="{{ url_for('jeux.earth_survival') }}">
                <button type="button">Earth Survivor</button>
            </a>
        </div>
    </div>

    <div class="flip">
        <div class="front"
            style="background-image: url(../../static/image/image_quizz.png)">
            <h1 class="text-shadow">FizzQUizz</hi>
        </div>
        <div class="back">
            <a href="{{ url_for('jeux.quizz') }}">
                <button type="button">FizzQUizz</button>
            </a>
        </div>
    </div>

    <div class="flip">
        <div class="front"
            style="background-image: url(../../static/image/image_memory.png)">
            <h1 class="text-shadow">Memory</hi>
        </div>
        <div class="back">
            <a href="{{ url_for('jeux.memory') }}">
                <button type="button">Memory</button>
            </a>
        </div>
    </div>
</div>

{% endblock %}